<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Count page</title>
    <link rel="stylesheet" href="/style2.css">
</head>

<body>
    <h2 class="heading">
        <center>Total number of Users are : <%= count %></center>
        <h3><center>Thank You,&#128512;</center></h3>
    </h2>
</body>