<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- <style>
        tr,
        th,
        td {
            border: 1px solid blue;
            padding: 2px 20px;
        }
    </style> -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="name"><center>User</center></h2>
    <div class="s-container">
            <div class="s-box">
                <h3><span>Id:</span>
                    <%= user.id %>
                </h3><br>
                <h2><span>User:</span>
                    <%= user.user %>
                </h2><br>
                <h3><span>Username:</span>
                    <%= user.username %>
                </h3>
            </div>
    </div>
</body>